body{
    background-color: black;
    color: white;
    font-family: arial;
    font-size:  14px;
    text-align: center;

}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: fit-content;
    border-style:  solid;
    margin-left: 100px;
    font-family: Arial;
    font-size: 20px;
    border-radius: 5px;
    padding: 6px;
    background-color: rgb(199, 179, 144);
    cursor: pointer;

}
.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    
}
.grid div{
    width: 20px;
    height: 20px;
    border: 1px solid #131519;
    box-sizing: border-box;
    color: red;
    
}